.carousel{
    width: 100vw;
    .content{
        height: 85vh;
        .cover{
            position: relative;
            img{
                width: 100vw;
            }
            .isi{
                width: 75%;
                color: white;
                position: absolute;
                top: 32%;
                .atas{
                    display: flex;
                    span{
                        width: 20%;
                        background-color: #0226c5;
                    }
                    h2{
                        width: 60%;
                        color: white;
                        margin-left: -10%;
                        font-size: 48px;
                    }
                }
                .bawah{
                    margin-left: 20%;
                    width: 60%;
                    display: flex;
                    flex-direction: row-reverse;
                    a{
                        img{
                            width: auto;
                            height: 60%;
                        }
                    }
                    p{
                        font-size: 16px;
                        padding-right: 5%;
                    }
                }
            }
        }
    }
}