$h1pc : 4em;
$h2pc : 3em;
$h3pc : 2.5em;
$h4pc : 2em;
$h5pc : 1.5em;

$h1hp : 3em;
$h2hp : 2.5em;
$h3hp : 2em;
$h4hp : 1.5em;
$h5hp : 1em;

$paddingL : 40px 13vw;
$paddingM : 20px 10vw;
$paddingS : 20px 7vw;


// Removing Scrollbar
::-webkit-scrollbar {
    width: 0;
}


// Main Code ----------------------------------------------
// --------------------------------------------------------
// --------------------------------------------------------
// --------------------------------------------------------
.newsEvent {
    width: 100vw;
    margin: 40px 0;
    padding: $paddingL;

    a {
        display: none;
    }

    .newsEvent-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .newsEvent-headline {
            display: flex;
            height: fit-content;
            align-items: center;
            gap: 10px;

            .icon {
                width: 45px;
                height: 45px;
                background-color: #ddd;
            }

            h2 {
                margin: 0;
                padding: 0;
                font-size: $h2pc;
                font-weight: 400;
                color: blue;
            }
        }

        a {
            display: block;

            button {
                padding: 10px 30px;
                font-size: 18px;
                background-color: transparent;
                border: 1px solid gray;
                color: gray;
                transition: .3s;
            }

            button:hover {
                background-color: blue;
                color: white;
                border: none;
            }
        }
    }

    .newsEvent-content {
        width: 100%;
        height: fit-content;
        margin: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        :first-child {
            width: 45%;
            height: fit-content;

            .newsEvent-image {
                width: 100%;
                height: 330px;
                background-color: #ddd;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding: 20px;
                box-sizing: border-box;
                cursor: pointer;

                .newsEvent-subtittle {
                    width: 100%;
                    height: fit-content;
                    background-color: transparent;
                    display: flex;
                    gap: 10px;

                    .icon {
                        width: 25px;
                        height: 25px;
                        background-color: #000;
                    }

                    h5 {
                        width: fit-content;
                        height: fit-content;
                        font-size: 16px;
                    }
                }

                .newsEvent-subject {
                    width: 100%;
                    height: fit-content;
                    display: block;

                    p {
                        width: 100%;
                        height: fit-content;
                        background-color: transparent;
                        margin-bottom: 10px;
                        font-size: 18px;
                    }
                }
            }

            .newsEvent-subtittle,
            .newsEvent-subject,
            a button {
                display: none;
            }
        }

        :nth-child(2),
        :nth-child(3) {
            width: 25%;
            height: fit-content;

            .newsEvent-image .newsEvent-subtittle,
            .newsEvent-image .newsEvent-subject {
                display: none;
            }

            .newsEvent-image {
                width: 100%;
                height: 200px;
                background-color: #ddd;
                margin-bottom: 20px;
            }

            .newsEvent-subtittle {
                width: 100%;
                height: fit-content;
                background-color: transparent;
                display: flex;
                gap: 10px;

                .icon {
                    width: 25px;
                    height: 25px;
                    background-color: #000;
                }

                h5 {
                    width: fit-content;
                    height: fit-content;
                    font-size: 16px;
                }
            }

            .newsEvent-subject {
                width: 100%;
                height: fit-content;
                cursor: pointer;

                p {
                    width: 100%;
                    height: fit-content;
                    background-color: transparent;
                    margin-bottom: 10px;
                    font-size: 18px;
                }

                .place-date-time {
                    width: 100%;
                    color: gray;
                }
            }

            a {
                display: block;

                button {
                    margin-top: 20px;
                    color: gray;
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    text-align: left;
                    cursor: pointer;
                }
            }
        }
    }
}



// Tampilan Tablet ----------------------------------------
// --------------------------------------------------------
// --------------------------------------------------------
// --------------------------------------------------------
@media only screen and (max-width: 1000px) {
    .newsEvent {
        padding: $paddingM;
        display: flex;
        flex-direction: column;

        a {
            display: block;
            align-self: center;

            button {
                padding: 10px 30px;
                font-size: 18px;
                background-color: transparent;
                border: 1px solid gray;
                color: gray;
                transition: .3s;
            }

            button:hover {
                background-color: blue;
                color: white;
                border: none;
            }
        }

        .newsEvent-header {
            .newsEvent-headline {
                h2 {
                    font-size: $h3pc;
                }
            }

            a button {
                display: none;
            }
        }

        .newsEvent-content {
            :first-child {
                width: 100%;

                .newsEvent-image {
                    .newsEvent-subtittle {
                        h5 {
                            display: block;
                        }
                    }
                }
            }

            :nth-child(2),
            :nth-child(3) {
                display: none;
            }
        }
    }
}



// Tampilan HP ----------------------------------------
// --------------------------------------------------------
// --------------------------------------------------------
// --------------------------------------------------------
@media only screen and (max-width: 600px) {
    .newsEvent {
        padding: $paddingS;

        .newsEvent-header {
            justify-content: center;

            .newsEvent-headline {
                display: flex;
                flex-direction: column;
                gap: 5px;

                h2 {
                    font-size: $h3hp;
                    text-align: center;
                }
            }
        }
    }
}