.header {
    width: 100vw;
    height: 18vh;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        width: 25%;
        height: 100%;

        .logo {
            width: 100%;
            height: 100%;
            background-color: #000;

        }
    }

    nav {
        width: 75%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 18px;

        a {
            color: #000;
        }

        .top-nav button,
        .bottom-nav button {
            padding: 0 10px;
            border: none;
            background-color: #fff;
        }

        .top-nav {
            display: flex;
            gap: 20px;


        }

        .bottom-nav {
            display: flex;
            gap: 30px;
            font-size: 1.3em;

            button:hover {
                font-size: 1em;
                border-bottom: 1px solid black;
                box-sizing: border-box;
            }

            .search {
                width: 30px;
                height: 30px;
                background-color: #000;
            }
        }
    }

    .nav-phone {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        padding: 0 15px;
        height: 10vh;

        a {
            width: 50%;

            .logo {
                width: 100%;
            }
        }

        nav {
            display: none;
        }

        .nav-phone {
            display: block;

            button {
                width: 30px;
                height: 30px;
                font-size: 20px;
                border-radius: 100%;
                background-color: #fff;
                border: none;
            }


        }


    }
}

@media only screen and (max-height: 600px) {
    .header {
        padding: 0 60px;

        nav {
            .bottom-nav {
                font-size: 1.2em;
                gap: 20px;

                button:hover {
                    font-size: 1em;
                }

                .search {
                    width: 25px;
                    height: 25px;
                    background-color: #000;
                }
            }


        }
    }
}