.subscribe{
    text-align: center;
    background: #0226C5;
    .subs-content{
        padding: 60px 0;
        .text-subs{
            font: 16px Arial;
            color: white;
            margin: 0px 0px 24px;
        }
        .input-subs{
            padding: 13px 20px;
        }
        .btn-subs{
            font: 13px;
        }
    }
}